<tr onmouseover="this.style.cursor='pointer';"
onclick="location.href='<%= ride_path(ride) %>';"
style="cursor: pointer;">
  <td class='name'><p><%= Ride.where(id: ride.ride_id).first.name %></p></th>
  <td class='time'>
    <p><%= ride.accepted %></p>
  </th>
</tr>
