<div class="container">
  <h1>You've signed in <%= @user.name %>!!!</h1>
  <div class="user_info"></div>
  <div class="provided"></div>
  <div class="booked"></div>
  <div class="friends"></div>
</div>
